<!DOCTYPE html>
<html>
	<head>
		<title>Marionette Contact Manager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap CSS -->
		<link href="./assets/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="./assets/css/application.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<a class="navbar-brand" href="#">Contact Manager</a>
		</nav>

		<div id="main-region" class="container">
			<p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
		</div>

		<script type="text/template" id="contact-list-item">
			<td><%= firstName %></td>
			<td><%= lastName %></td>
			<td>
				<a href="#" class="btn btn-sm btn-default js-show">Show</a>
				<button type="button" class="btn btn-sm btn-default js-delete">Delete</button>
			</td>
		</script>

		<!-- Contact List  Template -->
		<script type="text/template" id="contact-list">
			<thead>
				<tr><th>First Name</th>
				<th>Last Name</th></th>
				<th></th>
			</thead>
			<tbody>
			</tbody>
		</script>

		<!-- Contact View Template -->
		<script type="text/template" id="contact-view">
			<h1><%= firstName %> <%= lastName %></h1>
			<p><strong>Phone number:</strong> <%= phoneNumber %></p>
		</script>

		<script src="./assets/js/vendor/jquery.js"></script>
		<script src="./assets/js/vendor/json2.js"></script>
		<script src="./assets/js/vendor/underscore.js"></script>
		<script src="./assets/js/vendor/backbone.js"></script>
		<script src="./assets/js/vendor/backbone.marionette.js"></script>

		<script src="./assets/js/app.js"></script>
		<script src="./assets/js/entities/contact.js"></script>
		<script src="./assets/js/apps/contacts/list/list_view.js"></script>
		<script src="./assets/js/apps/contacts/list/list_controller.js"></script>
		<script src="./assets/js/apps/contacts/show/show_controller.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				ContactManager.start();
			});
		</script>
	</body>
</html>